body {
    font-family: 'Trebuchet MS';
    ;
}

.tbl {
    height: 550px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    background-color: deepskyblue;
}

.table {
    height: 100%;
    width: 100%;
}

.error {
    color: red;
}